.vscode/
objects/
*.o
*.a
*.swo
*.swp
.dist/
.DS_Store

megaphone
phonebook
brainzzz
moar_brainzzz
hi_this_is_brains
unnecessary_violence
sed_is_for_losers
harl_2
fixed_point
fixed_point_pt2
now_we_are_talking
